.background-image{
    background-image: url(backgroud.jpg);
    height: 730px;
    background-position: center;
    background-size: cover;
    
}
.content-wrapper{
    display: flex;
    text-transform: uppercase;
    line-height: normal;
    color: white;
    
} 
.first-part{
    width: 40%;
    display: flex;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 30px;  
}
.second-part{
    width: 60%;
    display: flex;
    gap: 42px;
    margin-top: 30px;
    margin-left: 350px;
}
.lower-part{
    text-align: center;
    margin-top: 230px;
    color: white;
}
#lorem-part{
    margin-top: 30px;
}
#button-part{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    background-image: url(web\ model\ 11-20.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50px;
    background-color: aqua;
}
#title-text{
    font-size: 40px;
    text-transform: uppercase;
    
}
.second-section{
    text-align: center;
    line-height: 30px;
    margin-top: 60px;
    line-height: 40px;
}
.first-division{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 60px;
}
.second-division{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 60px;
}
.webmodel-1{
    border: solid 1px;
    padding: 20px;
}
.webmodel-2{
    border: solid 1px;
    padding: 20px;
}.webmodel-3{
    border: solid 1px;
    padding: 20px;
}.webmodel-4{
    border: solid 1px;
    padding: 20px;
}.webmodel-5{
    border: solid 1px;
    padding: 20px;
}.webmodel-6{
    border: solid 1px;
    padding: 20px;
}
#text{
    text-transform: uppercase;
}
.third-content{
    display: flex;
    margin-top: 50px;
}
.third-section{
    width: 50%;
    height: 500px;
    background-color: aqua;
    background-image: url(Simple-Task-1-1-01.jpg);
    background-position: center;
    background-size: cover;
}
.third-section2{
    background-color: blueviolet;
    width: 50%;
    height: 500px;
    line-height: 30px;
}
.screw-content{
    display: flex;

}
.person-content{
    display: flex;
}
.umbrella-content{
    display: flex;
}
.pen-content{
    display: flex;
}
.secondary-content1{
    margin-left: 40px;
}
.secondary-content2{
    margin-left: 40px;
}.secondary-content3{
    margin-left: 40px;
}.secondary-content4{
    margin-left: 40px;
}
.repeated-content{
    display: flex;
    
}
.text-wrapper{
    width: 50%;
    height: 500px;
    background-color: blueviolet;
}
.second-image{
    width: 50%;
    height: 100px;
    background-image: url(Simple-Task-1-1-01.jpg);
    background-position: center;
    background-size: cover;

}
.web-1{
    display: flex;
}
.web-2{
    display: flex;
}
.web-3{
    display: flex;
}
.web-4{
    display: flex;
}
.item1{
    margin-left: 40px;
}
.item2{
    margin-left: 40px;
}
.item3{
    margin-left: 40px;
}
.item4{
    margin-left: 40px;
}
.second-image{
    display: flex;
}
   
.fourth-content{
    text-align: center;
    margin-top: 60px;
    
}
.second-image{
    width: 50%;
    height: 500px;
    background-color: aliceblue;
}
#heading-1{
    text-transform: uppercase;
    font-size: 25px;
}

.gallery-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}
#gallery-1{
    width: 300px;
    height: 350px;
    background-image: url(web\ model\ 11-02.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-2{
    width: 300px;
    height: 350px; 
    background-image: url(web\ model\ 11-03.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-3{
    width: 300px;
    height: 350px;
    background-image: url(web\ model\ 11-04.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-4{
    width: 300px;
    height: 350px;
    background-image: url(web\ model\ 11-05.jpg);
    background-position: center;
    background-size: cover;
}
.icon-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 170px;
}
#facebook-icon{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(facebook-icon.png);
    background-position: center;
    background-size: 68px;
}
#twitter-icon{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(twitter-icon.png);
    background-position: center;
    background-size: 68px;
}#google-icon{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(google+.png);
    background-position: center;
    background-size: 68px;
}#linkedin-icon{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(linkedIn.png);
    background-position: center;
    background-size: 68px;
}
.icon-gallery2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 170px;
}
#facebook-icon2{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(facebook-icon.png);
    background-position: center;
    background-size: 68px;
}
#twitter-icon2{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(twitter-icon.png);
    background-position: center;
    background-size: 68px;
}#google-icon2{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(google+.png);
    background-position: center;
    background-size: 68px;
}#linkedin-icon2{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(linkedIn.png);
    background-position: center;
    background-size: 68px;
}
.icon-gallery3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 170px;
}
#facebook-icon3{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(facebook-icon.png);
    background-position: center;
    background-size: 68px;
}
#twitter-icon3{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(twitter-icon.png);
    background-position: center;
    background-size: 68px;
}#google-icon3{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(google+.png);
    background-position: center;
    background-size: 68px;
}#linkedin-icon3{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(linkedIn.png);
    background-position: center;
    background-size: 68px;
}
.icon-gallery4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 170px;
}
#facebook-icon4{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(facebook-icon.png);
    background-position: center;
    background-size: 68px;
}
#twitter-icon4{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(twitter-icon.png);
    background-position: center;
    background-size: 68px;
}#google-icon4{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(google+.png);
    background-position: center;
    background-size: 68px;
}#linkedin-icon4{
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    background-image: url(linkedIn.png);
    background-position: center;
    background-size: 68px;
}
.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#name-1{
    text-transform: uppercase;
}
#name-2{
    text-transform: uppercase;
}
#name-3{
    text-transform: uppercase;
}
#name-4{
    text-transform: uppercase;
}
.item-1{
    margin-left: -71px;
}
.item-2{
    margin-left: 30px;
}
.item-3{
    margin-left: 21px;
}
.item-4 {
    margin-left: 44PX;
}
.last-section{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 250px;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    margin-top: 80px;
    padding: 80px;
}    